# Understand `S`plit-`A`pply-`C`ombine

In [1]:
import pandas as pd
print(f'pandas version: {pd.__version__}')
pd.Timestamp.now()

pandas version: 1.5.2

Timestamp('2023-02-01 07:10:56.316768')

In [2]:
df = pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/mpg.csv')
df.sample(5)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
101,honda,civic,1.6,1999,4,manual(m5),f,25,32,r,subcompact
8,audi,a4 quattro,1.8,1999,4,auto(l5),4,16,25,p,compact
16,audi,a6 quattro,3.1,2008,6,auto(s6),4,17,25,p,midsize
39,dodge,caravan 2wd,3.3,1999,6,auto(l4),f,16,22,r,minivan
124,jeep,grand cherokee 4wd,4.0,1999,6,auto(l4),4,15,20,r,suv

In [3]:
df=df[df.year==2008]
df.sample(5)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
136,lincoln,navigator 2wd,5.4,2008,8,auto(l6),r,12,18,r,suv
117,hyundai,tiburon,2.0,2008,4,manual(m5),f,20,28,r,subcompact
152,nissan,pathfinder 4wd,4.0,2008,6,auto(l5),4,14,20,p,suv
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv
43,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,11,17,e,minivan

In [4]:
df.shape

(117, 11)

In [5]:
df['cty'].mean()

16.700854700854702

In [6]:
g=df.groupby('class')
g.groups

{'2seater': [25, 26, 27], 'compact': [2, 3, 6, 9, 10, 13, 14, 169, 170, 171, 172, 188, 189, 192, 196, 197, 209, 210, 215, 216, 217, 218], 'midsize': [16, 17, 33, 35, 36, 110, 111, 114, 143, 144, 145, 146, 149, 157, 158, 181, 182, 185, 229, 230, 233], 'minivan': [41, 42, 43, 46, 47], 'pickup': [48, 49, 52, 53, 54, 64, 65, 66, 67, 68, 69, 72, 87, 89, 202, 205, 206], 'subcompact': [92, 93, 96, 97, 98, 104, 105, 106, 107, 117, 118, 119, 120, 121, 225, 226], 'suv': [18, 19, 20, 22, 28, 29, 58, 59, 60, 62, 76, 80, 81, 122, 123, 126, 127, 128, 129, 131, 132, 136, 138, 139, 152, 153, 161, 162, 163, 164, 177, 178, 199]}

In [7]:
g.groups.keys()

dict_keys(['2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'])

In [8]:
g.groups['compact']

Int64Index([  2,   3,   6,   9,  10,  13,  14, 169, 170, 171, 172, 188, 189,
            192, 196, 197, 209, 210, 215, 216, 217, 218],
           dtype='int64')

In [9]:
g.get_group('compact').head()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact

In [10]:
for k in g.groups.keys():
    print(f"{k}: {g.get_group(k)['cty'].mean()}")

2seater: 15.333333333333334
compact: 20.545454545454547
midsize: 19.333333333333332
minivan: 15.4
pickup: 13.0
subcompact: 18.9375
suv: 13.606060606060606

In [11]:
g['cty'].mean()

class
2seater       15.333333
compact       20.545455
midsize       19.333333
minivan       15.400000
pickup        13.000000
subcompact    18.937500
suv           13.606061
Name: cty, dtype: float64

In [12]:
g[['cty', 'hwy']].mean()

                  cty        hwy
class
2seater     15.333333  25.000000
compact     20.545455  28.727273
midsize     19.333333  28.047619
minivan     15.400000  22.200000
pickup      13.000000  16.941176
subcompact  18.937500  27.125000
suv         13.606061  18.636364

### correlation matrix

In [13]:
df.corr()

C:\Users\prasert\AppData\Local\Temp\ipykernel_9752\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

          displ  year       cyl       cty       hwy
displ  1.000000   NaN  0.933354 -0.826688 -0.770264
year        NaN   NaN       NaN       NaN       NaN
cyl    0.933354   NaN  1.000000 -0.867462 -0.811891
cty   -0.826688   NaN -0.867462  1.000000  0.964125
hwy   -0.770264   NaN -0.811891  0.964125  1.000000

In [14]:
g.corr()

C:\Users\prasert\AppData\Local\Temp\ipykernel_9752\1191809350.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.corr is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  g.corr()

                     displ  year       cyl       cty       hwy
class
2seater    displ  1.000000   NaN       NaN -0.500000 -0.866025
           year        NaN   NaN       NaN       NaN       NaN
           cyl         NaN   NaN       NaN       NaN       NaN
           cty   -0.500000   NaN       NaN  1.000000  0.866025
           hwy   -0.866025   NaN       NaN  0.866025  1.000000
compact    displ  1.000000   NaN  0.861838 -0.736410 -0.639915
           year        NaN   NaN       NaN       NaN       NaN
           cyl    0.861838   NaN  1.000000 -0.600313 -0.413864
           cty   -0.736410   NaN -0.600313  1.000000  0.894439
           hwy   -0.639915   NaN -0.413864  0.894439  1.000000
midsize    displ  1.000000   NaN  0.953447 -0.795621 -0.738020
           year        NaN   NaN       NaN       NaN       NaN
           cyl    0.953447   NaN  1.000000 -0.879955 -0.864233
           cty   -0.795621   NaN -0.879955  1.000000  0.882374
           hwy   -0.738020   NaN -0.864233  0.882374  1.000000
minivan    displ  1.000000   NaN       NaN  0.213335  0.242054
           year        NaN   NaN       NaN       NaN       NaN
           cyl         NaN   NaN       NaN       NaN       NaN
           cty    0.213335   NaN       NaN  1.000000  0.999544
           hwy    0.242054   NaN       NaN  0.999544  1.000000
pickup     displ  1.000000   NaN  0.904344 -0.566030 -0.518951
           year        NaN   NaN       NaN       NaN       NaN
           cyl    0.904344   NaN  1.000000 -0.711369 -0.640095
           cty   -0.566030   NaN -0.711369  1.000000  0.984007
           hwy   -0.518951   NaN -0.640095  0.984007  1.000000
subcompact displ  1.000000   NaN  0.935528 -0.830165 -0.784218
           year        NaN   NaN       NaN       NaN       NaN
           cyl    0.935528   NaN  1.000000 -0.868536 -0.827693
           cty   -0.830165   NaN -0.868536  1.000000  0.970655
           hwy   -0.784218   NaN -0.827693  0.970655  1.000000
suv        displ  1.000000   NaN  0.894183 -0.776411 -0.720637
           year        NaN   NaN       NaN       NaN       NaN
           cyl    0.894183   NaN  1.000000 -0.844158 -0.788482
           cty   -0.776411   NaN -0.844158  1.000000  0.950597
           hwy   -0.720637   NaN -0.788482  0.950597  1.000000

In [15]:
g[['cty', 'hwy', 'displ', 'cyl']].corr()

                       cty       hwy     displ       cyl
class
2seater    cty    1.000000  0.866025 -0.500000       NaN
           hwy    0.866025  1.000000 -0.866025       NaN
           displ -0.500000 -0.866025  1.000000       NaN
           cyl         NaN       NaN       NaN       NaN
compact    cty    1.000000  0.894439 -0.736410 -0.600313
           hwy    0.894439  1.000000 -0.639915 -0.413864
           displ -0.736410 -0.639915  1.000000  0.861838
           cyl   -0.600313 -0.413864  0.861838  1.000000
midsize    cty    1.000000  0.882374 -0.795621 -0.879955
           hwy    0.882374  1.000000 -0.738020 -0.864233
           displ -0.795621 -0.738020  1.000000  0.953447
           cyl   -0.879955 -0.864233  0.953447  1.000000
minivan    cty    1.000000  0.999544  0.213335       NaN
           hwy    0.999544  1.000000  0.242054       NaN
           displ  0.213335  0.242054  1.000000       NaN
           cyl         NaN       NaN       NaN       NaN
pickup     cty    1.000000  0.984007 -0.566030 -0.711369
           hwy    0.984007  1.000000 -0.518951 -0.640095
           displ -0.566030 -0.518951  1.000000  0.904344
           cyl   -0.711369 -0.640095  0.904344  1.000000
subcompact cty    1.000000  0.970655 -0.830165 -0.868536
           hwy    0.970655  1.000000 -0.784218 -0.827693
           displ -0.830165 -0.784218  1.000000  0.935528
           cyl   -0.868536 -0.827693  0.935528  1.000000
suv        cty    1.000000  0.950597 -0.776411 -0.844158
           hwy    0.950597  1.000000 -0.720637 -0.788482
           displ -0.776411 -0.720637  1.000000  0.894183
           cyl   -0.844158 -0.788482  0.894183  1.000000

## split-apply-combine

### nlargest

In [16]:
df.nlargest(1, 'cty')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact

In [17]:
g=df.groupby('class')

In [18]:
g.groups

{'2seater': [25, 26, 27], 'compact': [2, 3, 6, 9, 10, 13, 14, 169, 170, 171, 172, 188, 189, 192, 196, 197, 209, 210, 215, 216, 217, 218], 'midsize': [16, 17, 33, 35, 36, 110, 111, 114, 143, 144, 145, 146, 149, 157, 158, 181, 182, 185, 229, 230, 233], 'minivan': [41, 42, 43, 46, 47], 'pickup': [48, 49, 52, 53, 54, 64, 65, 66, 67, 68, 69, 72, 87, 89, 202, 205, 206], 'subcompact': [92, 93, 96, 97, 98, 104, 105, 106, 107, 117, 118, 119, 120, 121, 225, 226], 'suv': [18, 19, 20, 22, 28, 29, 58, 59, 60, 62, 76, 80, 81, 122, 123, 126, 127, 128, 129, 131, 132, 136, 138, 139, 152, 153, 161, 162, 163, 164, 177, 178, 199]}

In [19]:
g.get_group('compact').nlargest(3, 'cty')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact

In [20]:
g.get_group('suv').nlargest(3, 'cty')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
161,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
163,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
162,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv

In [21]:
# g.nlargest(3, 'cty') # -> error

In [22]:
g.apply(lambda grp: grp.nlargest(1, 'cty'))

,,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
class,,,,,,,,,,,,
2seater,25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater
compact,196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
midsize,143,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
minivan,41,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
pickup,202,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup
subcompact,104,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
suv,161,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv

In [23]:
g.apply(lambda grp: grp.nlargest(1, 'cty')).sort_values('cty', ascending=False)

,,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
class,,,,,,,,,,,,
compact,196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
subcompact,104,honda,civic,1.8,2008,4,manual(m5),f,26,34,r,subcompact
midsize,143,nissan,altima,2.5,2008,4,auto(av),f,23,31,r,midsize
suv,161,subaru,forester awd,2.5,2008,4,manual(m5),4,20,27,r,suv
minivan,41,dodge,caravan 2wd,3.3,2008,6,auto(l4),f,17,24,r,minivan
pickup,202,toyota,toyota tacoma 4wd,2.7,2008,4,manual(m5),4,17,22,r,pickup
2seater,25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater

## multilevel group

In [24]:
g2=df.groupby(['class', 'drv'])
g2.groups

{('2seater', 'r'): [25, 26, 27], ('compact', '4'): [9, 10, 13, 14, 169, 170, 171, 172], ('compact', 'f'): [2, 3, 6, 188, 189, 192, 196, 197, 209, 210, 215, 216, 217, 218], ('midsize', '4'): [16, 17], ('midsize', 'f'): [33, 35, 36, 110, 111, 114, 143, 144, 145, 146, 149, 157, 158, 181, 182, 185, 229, 230, 233], ('minivan', 'f'): [41, 42, 43, 46, 47], ('pickup', '4'): [48, 49, 52, 53, 54, 64, 65, 66, 67, 68, 69, 72, 87, 89, 202, 205, 206], ('subcompact', 'f'): [104, 105, 106, 107, 117, 118, 119, 120, 121, 225, 226], ('subcompact', 'r'): [92, 93, 96, 97, 98], ('suv', '4'): [28, 29, 58, 59, 60, 62, 80, 81, 122, 123, 126, 127, 128, 129, 131, 132, 138, 139, 152, 153, 161, 162, 163, 164, 177, 178, 199], ('suv', 'r'): [18, 19, 20, 22, 76, 136]}

In [25]:
g2[['cty', 'hwy']].mean()

                      cty        hwy
class      drv
2seater    r    15.333333  25.000000
compact    4    18.750000  26.125000
           f    21.571429  30.214286
midsize    4    16.500000  24.000000
           f    19.631579  28.473684
minivan    f    15.400000  22.200000
pickup     4    13.000000  16.941176
subcompact f    20.545455  29.000000
           r    15.400000  23.000000
suv        4    13.851852  18.777778
           r    12.500000  18.000000

In [26]:
g2.describe()[['cty', 'hwy']]

                 cty                                                       \
               count       mean       std   min    25%   50%    75%   max
class      drv
2seater    r     3.0  15.333333  0.577350  15.0  15.00  15.0  15.50  16.0
compact    4     8.0  18.750000  1.832251  15.0  18.50  19.5  20.00  20.0
           f    14.0  21.571429  2.651974  18.0  21.00  21.0  22.00  28.0
midsize    4     2.0  16.500000  0.707107  16.0  16.25  16.5  16.75  17.0
           f    19.0  19.631579  2.005839  16.0  18.50  19.0  21.00  23.0
minivan    f     5.0  15.400000  2.509980  11.0  16.00  16.0  17.00  17.0
pickup     4    17.0  13.000000  2.318405   9.0  12.00  13.0  14.00  17.0
subcompact f    11.0  20.545455  3.297382  16.0  18.50  20.0  22.50  26.0
           r     5.0  15.400000  1.140175  14.0  15.00  15.0  16.00  17.0
suv        4    27.0  13.851852  2.878350   9.0  12.50  13.0  14.50  20.0
           r     6.0  12.500000  1.224745  11.0  12.00  12.0  13.50  14.0

                 hwy
               count       mean       std   min    25%   50%   75%   max
class      drv
2seater    r     3.0  25.000000  1.000000  24.0  24.50  25.0  25.5  26.0
compact    4     8.0  26.125000  1.246423  25.0  25.00  26.0  27.0  28.0
           f    14.0  30.214286  2.778449  27.0  29.00  29.0  31.0  37.0
midsize    4     2.0  24.000000  1.414214  23.0  23.50  24.0  24.5  25.0
           f    19.0  28.473684  2.220321  25.0  26.50  28.0  30.5  32.0
minivan    f     5.0  22.200000  2.949576  17.0  23.00  23.0  24.0  24.0
pickup     4    17.0  16.941176  2.794427  12.0  16.00  17.0  19.0  22.0
subcompact f    11.0  29.000000  4.516636  24.0  25.50  28.0  31.5  36.0
           r     5.0  23.000000  2.236068  20.0  22.00  23.0  24.0  26.0
suv        4    27.0  18.777778  3.619746  12.0  17.50  19.0  19.5  27.0
           r     6.0  18.000000  1.897367  15.0  17.25  18.0  19.5  20.0

## rank within group

In [27]:
g=df.groupby('class')

In [28]:
df['rank'] = g['cty'].rank('dense', ascending=False)

In [29]:
df[df['class']=='compact'].sort_values('rank')

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,rank
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,1.0
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,2.0
215,volkswagen,jetta,2.0,2008,4,auto(s6),f,22,29,p,compact,3.0
210,volkswagen,gti,2.0,2008,4,auto(s6),f,22,29,p,compact,3.0
189,toyota,camry solara,2.4,2008,4,auto(s5),f,22,31,r,compact,3.0
218,volkswagen,jetta,2.5,2008,5,manual(m5),f,21,29,r,compact,4.0
3,audi,a4,2.0,2008,4,auto(av),f,21,30,p,compact,4.0
216,volkswagen,jetta,2.0,2008,4,manual(m6),f,21,29,p,compact,4.0
209,volkswagen,gti,2.0,2008,4,manual(m6),f,21,29,p,compact,4.0
188,toyota,camry solara,2.4,2008,4,manual(m5),f,21,31,r,compact,4.0
217,volkswagen,jetta,2.5,2008,5,auto(s6),f,21,29,r,compact,4.0
2,audi,a4,2.0,2008,4,manual(m6),f,20,31,p,compact,5.0
170,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,27,r,compact,5.0
169,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact,5.0
9,audi,a4 quattro,2.0,2008,4,manual(m6),4,20,28,p,compact,5.0
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact,5.0
10,audi,a4 quattro,2.0,2008,4,auto(s6),4,19,27,p,compact,6.0
171,subaru,impreza awd,2.5,2008,4,manual(m5),4,19,25,p,compact,6.0
192,toyota,camry solara,3.3,2008,6,auto(s5),f,18,27,r,compact,7.0
6,audi,a4,3.1,2008,6,auto(av),f,18,27,p,compact,7.0
13,audi,a4 quattro,3.1,2008,6,auto(s6),4,17,25,p,compact,8.0
14,audi,a4 quattro,3.1,2008,6,manual(m6),4,15,25,p,compact,9.0

In [30]:
df.sort_values(by=['class', 'rank'])

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class,rank
25,chevrolet,corvette,6.2,2008,8,manual(m6),r,16,26,p,2seater,1.0
26,chevrolet,corvette,6.2,2008,8,auto(s6),r,15,25,p,2seater,2.0
27,chevrolet,corvette,7.0,2008,8,manual(m6),r,15,24,p,2seater,2.0
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact,1.0
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...
19,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,11,15,e,suv,10.0
29,chevrolet,k1500 tahoe 4wd,5.3,2008,8,auto(l4),4,11,14,e,suv,10.0
129,jeep,grand cherokee 4wd,6.1,2008,8,auto(l5),4,11,14,p,suv,10.0
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,11.0
126,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv,11.0

In [31]:
g.apply(lambda grp: grp.sort_values(by=['rank']))

            manufacturer               model  displ  year  cyl       trans  \
class
2seater 25     chevrolet            corvette    6.2  2008    8  manual(m6)
        26     chevrolet            corvette    6.2  2008    8    auto(s6)
        27     chevrolet            corvette    7.0  2008    8  manual(m6)
compact 196       toyota             corolla    1.8  2008    4  manual(m5)
        197       toyota             corolla    1.8  2008    4    auto(l4)
...                  ...                 ...    ...   ...  ...         ...
suv     129         jeep  grand cherokee 4wd    6.1  2008    8    auto(l5)
        29     chevrolet     k1500 tahoe 4wd    5.3  2008    8    auto(l4)
        19     chevrolet  c1500 suburban 2wd    5.3  2008    8    auto(l4)
        59         dodge         durango 4wd    4.7  2008    8    auto(l5)
        126         jeep  grand cherokee 4wd    4.7  2008    8    auto(l5)

            drv  cty  hwy fl    class  rank
class
2seater 25    r   16   26  p  2seater   1.0
        26    r   15   25  p  2seater   2.0
        27    r   15   24  p  2seater   2.0
compact 196   f   28   37  r  compact   1.0
        197   f   26   35  r  compact   2.0
...          ..  ...  ... ..      ...   ...
suv     129   4   11   14  p      suv  10.0
        29    4   11   14  e      suv  10.0
        19    r   11   15  e      suv  10.0
        59    4    9   12  e      suv  11.0
        126   4    9   12  e      suv  11.0

[117 rows x 12 columns]